@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v18/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7CA.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  max-width: 100%;
}
html {
  font-size: 62.5%;
}
body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Condensed', sans-serif;
}
.container {
  width: 100%;
  background-color: #191414;
  min-height: 100%;
}
.top-section {
  width: 100%;
  height: 80vh;
}
.top-section .heroContainer {
  width: 100%;
  background-image: url(../img/background.png);
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 10px solid #080808;
}
.top-section .heroContainer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 3%;
}
.top-section .heroContainer div h1 {
  font-size: 5vw;
}
@media ( max-width: 1200px) {
  .top-section .heroContainer div h1 {
    font-size: 6vw;
  }
}
@media ( max-width: 1000px) {
  .top-section .heroContainer div h1 {
    font-size: 7vw;
  }
}
@media ( max-width: 800px) {
  .top-section .heroContainer div h1 {
    font-size: 10vw;
    margin-bottom: 3.5%;
  }
}
.top-section .heroContainer div h2 {
  font-size: 2.5vw;
}
@media ( max-width: 1200px) {
  .top-section .heroContainer div h2 {
    font-size: 3.2vw;
  }
}
@media ( max-width: 1000px) {
  .top-section .heroContainer div h2 {
    font-size: 4vw;
  }
}
@media ( max-width: 800px) {
  .top-section .heroContainer div h2 {
    font-size: 6vw;
    margin: 2%;
    margin-bottom: 5%;
  }
}
.top-section .heroContainer div button {
  background-color: #1DB954;
  border: 1px solid #1DB954;
  cursor: pointer;
  text-align: center;
  width: 17vw;
  padding: 1%;
  border-radius: 5px;
  color: white;
  white-space: nowrap;
  text-decoration: none;
  font-weight: bold;
  height: 6.5vh;
  font-size: 1.3vw;
  border-radius: 50px;
}
.top-section .heroContainer div button:hover {
  background-color: lightgreen;
  color: white;
  transition-duration: 0.3s;
}
@media ( max-width: 1200px) {
  .top-section .heroContainer div button {
    font-size: 1.6vw;
    width: 22vw;
  }
}
@media ( max-width: 1000px) {
  .top-section .heroContainer div button {
    font-size: 1.9vw;
    width: 28vw;
    height: 6vh;
  }
}
@media ( max-width: 800px) {
  .top-section .heroContainer div button {
    height: 6vh;
    font-size: 3.3vw;
    width: 45vw;
  }
}
span {
  font-size: inherit;
  display: inline;
  margin-left: -1%;
}
@media ( max-width: 800px) {
  span {
    display: none;
  }
}
.wrapper {
  min-height: 100%;
}
.introQuote {
  color: #1DB954;
  margin: 4.5%;
  margin-bottom: 10%;
}
.introQuote h1 {
  font-size: 2.6vw;
  margin-bottom: 0.7%;
}
@media ( max-width: 1200px) {
  .introQuote h1 {
    font-size: 3.5vw;
    margin-bottom: 1.2%;
  }
}
@media ( max-width: 1000px) {
  .introQuote h1 {
    font-size: 4vw;
  }
}
@media ( max-width: 800px) {
  .introQuote h1 {
    font-size: 6vw;
  }
}
.introQuote h2 {
  font-size: 1.1vw;
  color: white;
}
@media ( max-width: 1200px) {
  .introQuote h2 {
    font-size: 1.7vw;
  }
}
@media ( max-width: 1000px) {
  .introQuote h2 {
    font-size: 1.9vw;
  }
}
@media ( max-width: 800px) {
  .introQuote h2 {
    visibility: hidden;
  }
}
@media ( max-width: 800px) {
  .introQuote {
    margin: 5%;
    margin-bottom: 13%;
  }
}
.firstSlide {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #1DB954;
  background: #191414;
  margin: 5% auto;
}
.firstSlide .firstSlideImg {
  width: 40vw;
  padding: 0%;
  box-shadow: 1.2vw 1.9vw lightgreen;
}
.firstSlide .firstSlideImg img {
  box-shadow: 0.7vw 0.9vw #1DB954;
}
@media ( max-width: 800px) {
  .firstSlide .firstSlideImg img {
    box-shadow: 1.6vw 1.9vw #1DB954;
  }
}
@media ( max-width: 800px) {
  .firstSlide .firstSlideImg {
    width: 70vw;
    margin-bottom: 5%;
    box-shadow: 3vw 4vw lightgreen;
  }
}
.firstSlide div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: -5%;
  line-height: 5vw;
  height: 50%;
  padding: 2.5%;
}
.firstSlide div h2 {
  font-size: 3.5vw;
}
@media ( max-width: 1200px) {
  .firstSlide div h2 {
    font-size: 3.9vw;
  }
}
@media ( max-width: 1000px) {
  .firstSlide div h2 {
    font-size: 4.2vw;
  }
}
@media ( max-width: 800px) {
  .firstSlide div h2 {
    font-size: 8vw;
    margin-bottom: 2%;
  }
}
.firstSlide div h3 {
  font-size: 2.5vw;
}
@media ( max-width: 1200px) {
  .firstSlide div h3 {
    font-size: 3vw;
  }
}
@media ( max-width: 1000px) {
  .firstSlide div h3 {
    font-size: 3.3vw;
  }
}
@media ( max-width: 800px) {
  .firstSlide div h3 {
    font-size: 6vw;
  }
}
.firstSlide div p {
  font-size: 2vw;
  color: #191414;
  font-weight: 850;
  color: white;
  text-align: left;
}
@media ( max-width: 1200px) {
  .firstSlide div p {
    font-size: 2.2vw;
  }
}
@media ( max-width: 1000px) {
  .firstSlide div p {
    font-size: 2.5vw;
  }
}
@media ( max-width: 800px) {
  .firstSlide div p {
    font-size: 4.5vw;
    margin-top: 2%;
  }
}
.firstSlide div a {
  margin-top: 5%;
  font-size: 2.5vw;
  background-color: #1DB954;
  border: 1px solid #1DB954;
  cursor: pointer;
  text-align: center;
  width: 12vw;
  padding: 1%;
  border-radius: 5px;
  color: #191414;
  white-space: nowrap;
  text-decoration: none;
  font-weight: bold;
}
.firstSlide div a:hover {
  background-color: lightgreen;
  color: white;
  transition-duration: 0.3s;
}
@media ( max-width: 1200px) {
  .firstSlide div a {
    height: 5%;
    font-size: 3vw;
    width: 15vw;
  }
}
@media ( max-width: 800px) {
  .firstSlide div a {
    font-size: 5vw;
    width: 25vw;
  }
}
@media ( max-width: 1200px) {
  .firstSlide {
    margin-top: -4%;
  }
}
@media ( max-width: 800px) {
  .firstSlide {
    flex-direction: column;
  }
}
.secondSlide {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  color: #1DB954;
  background: #1DB954;
  margin: 11% auto;
  padding: 10%;
  border-top: 10px solid #101010;
  border-bottom: 10px solid #101010;
}
.secondSlide .secondSlideImg {
  width: 40vw;
  padding: 0%;
  box-shadow: 1.2vw 1.9vw #191414;
}
.secondSlide .secondSlideImg img {
  box-shadow: 0.7vw 0.9vw black;
}
@media ( max-width: 800px) {
  .secondSlide .secondSlideImg img {
    box-shadow: 1.6vw 1.9vw black;
  }
}
@media ( max-width: 800px) {
  .secondSlide .secondSlideImg {
    width: 70vw;
    margin-bottom: 5%;
    box-shadow: 3vw 4vw #191414;
  }
}
.secondSlide div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: -5%;
  line-height: 6vw;
  height: 50%;
  padding: 2.5%;
}
.secondSlide div h2 {
  font-size: 3.5vw;
  color: #191414;
  text-shadow: 0.1vw 0.125vw #383838;
}
@media ( max-width: 1200px) {
  .secondSlide div h2 {
    font-size: 4.2vw;
  }
}
@media ( max-width: 1000px) {
  .secondSlide div h2 {
    font-size: 4.5vw;
  }
}
@media ( max-width: 800px) {
  .secondSlide div h2 {
    font-size: 8vw;
    margin-left: -18%;
  }
}
.secondSlide div h3 {
  font-size: 2.5vw;
  color: #191414;
  text-shadow: 0.1vw 0.125vw #383838;
}
@media ( max-width: 1200px) {
  .secondSlide div h3 {
    font-size: 3.2vw;
  }
}
@media ( max-width: 1000px) {
  .secondSlide div h3 {
    font-size: 3.5vw;
  }
}
@media ( max-width: 800px) {
  .secondSlide div h3 {
    font-size: 6vw;
    margin-left: -18%;
  }
}
.secondSlide div p {
  font-size: 2vw;
  color: black;
  font-weight: 850;
  text-align: left;
}
@media ( max-width: 1200px) {
  .secondSlide div p {
    font-size: 2.5vw;
  }
}
@media ( max-width: 1000px) {
  .secondSlide div p {
    font-size: 2.8vw;
  }
}
@media ( max-width: 800px) {
  .secondSlide div p {
    font-size: 4.5vw;
    margin-top: 2%;
    font-weight: 1000%;
    margin-left: -18%;
    line-height: 4.5vw;
    text-shadow: 0.125vw 0.2vw #383838;
  }
}
@media ( max-width: 800px) {
  .secondSlide {
    flex-direction: column;
  }
}
.thirdSlide {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #1DB954;
  background: #191414;
  margin: 5% auto;
}
.thirdSlide .thirdSlideImg {
  width: 40vw;
  padding: 0%;
  box-shadow: 1.2vw 1.9vw lightgreen;
}
.thirdSlide .thirdSlideImg img {
  box-shadow: 0.7vw 0.9vw #1DB954;
}
@media ( max-width: 800px) {
  .thirdSlide .thirdSlideImg img {
    box-shadow: 1.6vw 1.9vw #1DB954;
  }
}
@media ( max-width: 800px) {
  .thirdSlide .thirdSlideImg {
    width: 70vw;
    margin-bottom: 5%;
    box-shadow: 3vw 4vw lightgreen;
  }
}
.thirdSlide div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: -5%;
  line-height: 5vw;
  height: 50%;
  padding: 2.5%;
}
.thirdSlide div h2 {
  font-size: 3.5vw;
}
@media ( max-width: 1200px) {
  .thirdSlide div h2 {
    font-size: 4vw;
  }
}
@media ( max-width: 1000px) {
  .thirdSlide div h2 {
    font-size: 4.5vw;
  }
}
@media ( max-width: 800px) {
  .thirdSlide div h2 {
    font-size: 8vw;
    margin-bottom: 2%;
  }
}
.thirdSlide div h3 {
  font-size: 2.5vw;
}
@media ( max-width: 1200px) {
  .thirdSlide div h3 {
    font-size: 3vw;
  }
}
@media ( max-width: 1000px) {
  .thirdSlide div h3 {
    font-size: 3.3vw;
  }
}
@media ( max-width: 800px) {
  .thirdSlide div h3 {
    font-size: 6vw;
  }
}
.thirdSlide div p {
  font-size: 2vw;
  color: #191414;
  font-weight: 850;
  color: white;
  text-align: left;
}
@media ( max-width: 1200px) {
  .thirdSlide div p {
    font-size: 2.5vw;
  }
}
@media ( max-width: 1000px) {
  .thirdSlide div p {
    font-size: 2.8vw;
  }
}
@media ( max-width: 800px) {
  .thirdSlide div p {
    font-size: 4.5vw;
    margin-top: 2%;
  }
}
.thirdSlide div a {
  margin-top: 5%;
  font-size: 2.5vw;
  background-color: #1DB954;
  border: 1px solid #1DB954;
  cursor: pointer;
  text-align: center;
  width: 12vw;
  padding: 1%;
  border-radius: 5px;
  color: #191414;
  white-space: nowrap;
  text-decoration: none;
  font-weight: bold;
}
.thirdSlide div a:hover {
  background-color: lightgreen;
  color: white;
  transition-duration: 0.3s;
}
@media ( max-width: 1200px) {
  .thirdSlide div a {
    height: 5%;
    font-size: 3vw;
    width: 15vw;
  }
}
@media ( max-width: 800px) {
  .thirdSlide div a {
    font-size: 5vw;
    width: 25vw;
  }
}
@media ( max-width: 800px) {
  .thirdSlide {
    flex-direction: column;
  }
}
.fourthSlide {
  background-image: url(../img/picThree.jpg);
  /* The image used */
  background-color: #cccccc;
  /* Used if the image is unavailable */
  height: 65vh;
  /* You must set a specified height */
  width: 80vw;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1DB954;
  margin: 15% auto;
  padding: 2.5%;
  border-bottom: 1vw solid #1DB954;
  border-left: 1.3vw solid #1DB954;
  box-shadow: -1vw 1.6vw lightgreen;
}
.fourthSlide .fourthSlideImg h2 {
  font-size: 3.5vw;
  color: #191414;
  text-shadow: 0.1vw 0.1vw black;
}
@media ( max-width: 1200px) {
  .fourthSlide .fourthSlideImg h2 {
    font-size: 3.8vw;
  }
}
@media ( max-width: 1000px) {
  .fourthSlide .fourthSlideImg h2 {
    font-size: 4.3vw;
  }
}
@media ( max-width: 800px) {
  .fourthSlide .fourthSlideImg h2 {
    font-size: 6vw;
    text-shadow: 0.2vw 0.2vw black;
  }
}
.fourthSlide .fourthSlideImg p {
  font-size: 2vw;
  color: #191414;
  font-weight: 850;
  color: white;
  margin-bottom: 5%;
  text-shadow: 0.1vw 0.1vw black;
}
@media ( max-width: 1200px) {
  .fourthSlide .fourthSlideImg p {
    font-size: 2.3vw;
  }
}
@media ( max-width: 1000px) {
  .fourthSlide .fourthSlideImg p {
    font-size: 2.8vw;
  }
}
@media ( max-width: 800px) {
  .fourthSlide .fourthSlideImg p {
    font-size: 3.5vw;
    text-shadow: 0.3vw 0.3vw black;
  }
}
.fourthSlide .fourthSlideImg a {
  font-size: 2.5vw;
  background-color: #1DB954;
  border: 1px solid #1DB954;
  cursor: pointer;
  text-align: center;
  width: 12vw;
  padding: 1%;
  border-radius: 5px;
  color: #191414;
  white-space: nowrap;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0.2vw 0.2vw #191414;
}
.fourthSlide .fourthSlideImg a:hover {
  background-color: lightgreen;
  color: white;
  transition-duration: 0.3s;
}
@media ( max-width: 800px) {
  .fourthSlide .fourthSlideImg a {
    font-size: 4vw;
    width: 22vw;
    box-shadow: 0.8vw 0.8vw #191414;
  }
}
@media ( max-width: 1200px) {
  .fourthSlide {
    height: 50vh;
  }
}
@media ( max-width: 1000px) {
  .fourthSlide {
    height: 40vh;
  }
}
@media ( max-width: 800px) {
  .fourthSlide {
    width: 90vw;
    height: 55vw;
  }
}
.blankDiv {
  background: black;
  opacity: 0.5;
  width: 100%;
  height: 4vw;
  z-index: 1;
  position: fixed;
  top: 0;
}
@media ( max-width: 1200px) {
  .blankDiv {
    height: 6vw;
  }
}
@media ( max-width: 1000px) {
  .blankDiv {
    height: 8vw;
  }
}
@media ( max-width: 800px) {
  .blankDiv {
    height: 14.5vw;
  }
}
.coveringDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1vw;
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
}
.coveringDiv .navDiv {
  display: flex;
  justify-content: space-evenly;
  width: 35vw;
}
.coveringDiv .navDiv a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  white-space: nowrap;
}
@media ( max-width: 1200px) {
  .coveringDiv .navDiv a {
    margin-bottom: 3.5%;
  }
}
@media ( max-width: 1000px) {
  .coveringDiv .navDiv a {
    margin-bottom: 1.5%;
  }
}
.coveringDiv .navDiv :hover {
  color: #1DB954;
}
.coveringDiv .navDiv #letterI {
  color: white;
  cursor: default;
}
.coveringDiv .navDiv #letterI:hover {
  color: white;
}
@media ( max-width: 1200px) {
  .coveringDiv .navDiv #letterI {
    margin-bottom: 3.5%;
  }
}
@media ( max-width: 1000px) {
  .coveringDiv .navDiv #letterI {
    margin-bottom: 1.5%;
  }
}
@media ( max-width: 1000px) {
  .coveringDiv .navDiv {
    width: 46vw;
  }
}
@media ( max-width: 800px) {
  .coveringDiv .navDiv {
    width: 80vw;
  }
}
.coveringDiv .imageDiv {
  width: 7%;
}
@media ( max-width: 1200px) {
  .coveringDiv .imageDiv {
    width: 12%;
  }
}
@media ( max-width: 1000px) {
  .coveringDiv .imageDiv {
    width: 15%;
  }
}
@media ( max-width: 800px) {
  .coveringDiv .imageDiv {
    margin: 2%;
    width: 20%;
  }
}
@media ( max-width: 1200px) {
  .coveringDiv {
    font-size: 1.5vw;
  }
}
@media ( max-width: 1000px) {
  .coveringDiv {
    font-size: 2vw;
  }
}
@media ( max-width: 800px) {
  .coveringDiv {
    font-size: 2.7vw;
  }
}
footer {
  display: flex;
  flex-direction: column;
  margin-top: 7vw;
  background: #080808;
  padding-top: 1vw;
  border-top: 0.5vw solid #101010;
}
footer .footerDiv {
  display: flex;
  align-items: center;
  width: 75%;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 0.5vw;
}
footer .footerDiv .footerLogo {
  width: 10vw;
  background: none;
}
@media ( max-width: 800px) {
  footer .footerDiv .footerLogo {
    width: 20vw;
  }
}
footer .footerDiv div {
  display: flex;
  justify-content: center;
  width: 10vw;
}
footer .footerDiv .aLinks a {
  font-size: 1.5vw;
  background: #222326;
  color: white;
  padding: 1vw;
  border-radius: 50%;
  margin: auto 0.5vw;
  width: auto;
}
footer .footerDiv .aLinks a p {
  display: none;
}
footer .footerDiv .aLinks a :hover {
  color: #1DB954;
}
@media ( max-width: 800px) {
  footer .footerDiv .aLinks a {
    font-size: 5vw;
    text-decoration: none;
    padding: 2vw;
  }
}
@media ( max-width: 800px) {
  footer .footerDiv {
    margin-left: 7%;
    margin-bottom: 2%;
  }
}
footer #footerH2 {
  color: white;
  font-size: 0.7vw;
  padding: 0.7vw;
}
@media ( max-width: 800px) {
  footer #footerH2 {
    font-size: 3vw;
  }
}
@media ( max-width: 800px) {
  footer {
    font-size: 3vw;
    border-top: 1vw solid #101010;
  }
}
.formCont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  font-size: 2.5vw;
  text-align: left;
  padding: 5%;
  color: white;
  border-radius: 5px;
  width: 50%;
  background: #080808;
  border-bottom: 1vw solid #202020;
  border-left: 1.3vw solid #202020;
  box-shadow: -1.2vw 2.4vw gray;
  margin-bottom: 5%;
}
.formCont .contactUs {
  font-size: 5vw;
  color: #1DB954;
  text-align: center;
  margin: 5%;
  padding: 3%;
}
.formCont input[type=text],
.formCont select,
.formCont textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background: black;
  color: white;
}
.formCont input[type=submit] {
  background-color: #1DB954;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.formCont textarea {
  height: 100px;
}
.formCont input[type=submit]:hover {
  background-color: lightgreen;
}
@media ( max-width: 800px) {
  .formCont {
    padding: 10%;
    margin: auto;
    width: 75%;
  }
}
.peopleSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 7vw;
  width: 100%;
  color: white;
}
.peopleSection div {
  width: 25vw;
  margin-bottom: 2vw;
}
.peopleSection div h2 {
  font-size: 2vw;
  margin: 1% 0%;
  line-height: 150%;
  color: #1DB954;
}
@media ( max-width: 1000px) {
  .peopleSection div h2 {
    font-size: 3vw;
  }
}
@media ( max-width: 800px) {
  .peopleSection div h2 {
    font-size: 6vw;
  }
}
.peopleSection div p {
  margin-top: -2%;
  margin-bottom: 5%;
  font-size: 2vw;
}
@media ( max-width: 1000px) {
  .peopleSection div p {
    font-size: 3vw;
  }
}
@media ( max-width: 800px) {
  .peopleSection div p {
    font-size: 6vw;
  }
}
@media ( max-width: 1000px) {
  .peopleSection div {
    width: 45vw;
  }
}
@media ( max-width: 600px) {
  .peopleSection div {
    width: 75vw;
  }
}
.peopleSection .imageContainer {
  width: 35%;
  margin: auto;
  box-shadow: -0.8vw 1.1vw lightgray;
  margin-bottom: 6%;
}
.peopleSection .imageContainer img {
  box-shadow: -0.5vw 0.7vw black;
  border: 1px solid white;
}
@media ( max-width: 800px) {
  .peopleSection .imageContainer img {
    box-shadow: -0.8vw 1.1vw black;
  }
}
@media ( max-width: 800px) {
  .peopleSection .imageContainer {
    width: 50%;
  }
}
@media ( max-width: 800px) {
  .peopleSection .imageContainer {
    box-shadow: -1.3vw 1.8vw lightgray;
  }
}
@media ( max-width: 1000px) {
  .peopleSection {
    margin-top: 15%;
  }
}
@media ( max-width: 800px) {
  .peopleSection {
    width: 99%;
    margin: 0 auto;
    margin-top: 20vw;
  }
}
.outroDiv {
  width: 90vw;
  height: auto;
  margin: 0 auto;
  box-shadow: -1.5vw 2.3vw lightgreen;
}
.outroDiv .outro {
  color: white;
  margin: 0 auto;
  width: 90vw;
  font-size: 2.5vw;
  background: black;
  border: 0.1vw solid white;
  padding: 1.5vw;
  box-shadow: -0.7vw 1vw #1DB954;
}
@media ( max-width: 800px) {
  .outroDiv .outro {
    font-size: 5vw;
    padding: 5vw;
  }
}
